.dashboard {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #47474a;
  padding: 0.5rem;
}
.togglebtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-right: 10rem;
}

.navbarLeft {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: auto;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #47474a;
  background-color: transparent;
}
select:focus {
  border: 1px solid #47474a;
}

select option {
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.navbarRight {
  margin-right: 5rem;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 2rem;
}

.sharebtn {
  background-color: #1a5fff;
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 8rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.subcontent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 70%;
  gap: 1rem;
}

.createFolderBtns {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.createFolderBtn {
  background-color: #ffffff14;
  width: 15%;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  border: 1px solid #47474a;
}
.whitebg {
  background-color: #ffffff;
  color: #000000eb;
}
.darkbg {
  background-color: #ffffff14;
  color: #ffffff;
}
.addicondark {
  color: #000000eb;
}

.createFormBtns {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.typebotbtn {
  background-color: #1a5fff;
  color: #ffffff;
  width: 20%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1rem;
  font-family: "Open sans", sans-serif;
}

.createFormBtn {
  background-color: #ffffff80;
  color: #ffffff;
  width: 20%;
  height: 30vh;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 1px solid #47474a;
  font-size: 1rem;
  font-family: "Open sans", sans-serif;
}

.createFormBtn span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.createFormBtn i {
  position: absolute;
  font-size: 1rem;
  top: -3%;
  right: -5%;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #444444;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.addtypeboticon {
  font-size: 3rem;
}
