.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.dark {
  background-color: #000000;
  padding: 2rem;
  position: relative;
  width: 30%;
  height: 30vh;
  border-radius: 2rem;
  border: 1px solid #47474a;
}

.modal.light {
  background-color: #ffffff;
  padding: 2rem;
  position: relative;
  width: 30%;
  height: 30vh;
  border-radius: 2rem;
  border: 1px solid #47474a;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #f55050;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.5rem;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  margin-top: 1rem;
}

.label.light {
  color: #47474a;
}

.label.dark {
  color: #ffffff;
}

.folderInput {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: #ffffff14;
  color: #47474a;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  border: 1px solid #47474a;
}

.folderInput::placeholder {
  color: #47474a;
  font-size: 1.5rem;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doneBtn,
.cancelBtn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding-left: 3rem;
  padding-right: 3rem;
}

.doneBtn {
  color: #4b83ff;
  font-size: 2rem;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  border-right: 1px solid #47474a;
}

.cancelBtn {
  font-size: 2rem;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
}

.cancelBtn.light {
  color: #47474a;
}

.cancelBtn.dark {
  color: #ffffff;
}
