.sharedForm {
  background-color: #ffffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: #000000;
}

.sharedForm h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Open sans", sans-serif;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Open sans", sans-serif;
}
